@tailwind base;

/* calendar styles */
body {
    @apply dark:text-white !important;
}

.ck-editor {
    @apply text-gray-900 dark:text-gray-700 !important;
}

.display-none {
    @apply hidden;
}

.fc .fc-toolbar.fc-header-toolbar {
    @apply mb-5 !important;
}

.fc .fc-toolbar-title {
    @apply text-lg text-gray-900 font-semibold dark:text-gray-50 !important;
}

.fc .fc-today-button {
    @apply text-gray-900 bg-white border border-gray-200 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded text-sm px-5 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    @apply mx-2 !important;
}

.fc .fc-button-group .fc-prev-button,
.fc .fc-button-group .fc-next-button,
.fc .fc-button-group .fc-dayGridMonth-button,
.fc .fc-button-group .fc-timeGridWeek-button,
.fc .fc-button-group .fc-timeGridDay-button,
.fc .fc-button-group .fc-listWeek-button {
    @apply p-2 text-sm text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-600 dark:focus:text-white !important;
}

.fc .fc-scrollgrid {
    @apply border-l-0 border-gray-200 !important;
}

.fc .fc-daygrid-day-frame {
    @apply border-gray-200 !important;
}

.fc .fc-col-header-cell-cushion {
    @apply py-3 text-base text-gray-900 dark:text-white font-semibold !important;
}

.fc-theme-standard th {
    @apply border-0 border-b border-gray-200 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    @apply mr-2 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
    @apply ml-2 !important;
}

.fc .fc-event .fc-event-main {
    @apply p-2 bg-primary-700 hover:bg-primary-800 !important;
}

.fc .fc-h-event .fc-event-main-frame {
    @apply text-xs font-semibold !important;
}

.fc .fc-daygrid-day-frame {
    @apply hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer !important;
}

.fc-v-event,
.fc-h-event {
    @apply bg-primary-500 border border-primary-600 !important
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    @apply bg-gray-100 dark:bg-gray-700 !important
}

.fc .fc-daygrid-week-number {
    @apply dark:text-white text-black !important
}

.fc-theme-standard .fc-popover-header {
    @apply bg-gray-100 dark:bg-gray-700 !important
}

.fc .fc-more-popover .fc-popover-body {
    @apply bg-white dark:bg-gray-800 !important
}

.fc .fc-list-sticky .fc-list-day>* {
    @apply bg-gray-50 dark:bg-gray-800 !important
}

.fc .fc-list-event:hover td {
    @apply bg-gray-100 dark:bg-gray-800 !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.user-bg {
    background-size: 20%;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="opacity: 10%;"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" /></svg>');
    background-position: left center;
    background-repeat: no-repeat;
}

.car-bg {
    background-size: 20%;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front" style="opacity: 10%;" viewBox="0 0 16 16"><path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/><path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/></svg>');
    background-position: left center;
    background-repeat: no-repeat;
}

@tailwind components;
@tailwind utilities;
